@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Sevillana&display=swap');
/* @import "tailwindcss"; */

/* Global Theme Variables */
:root {
    --bg-color: #fce0c9;
    --primary-color: #F47821;
    /* --secondary-color: #F6EACB; */
}

/*****************************************TAG SELECTORS*******************************************/
html, body{
    overflow-x: hidden;
    scroll-behavior: smooth;    
}
body{
    background-color: var(--bg-color);
    color: black;
    line-height: 1.5;
    padding-top: 50px;

}
h1, h2, h3, h4{
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
}
a{
    color: var(--bg-color);
    text-decoration: underline;
}
span{
    color: var(--primary-color);
}
p span {
    color: black;
}

/********************************* General css **********************/
.container-fluid{
    padding: 0% 10%;
}

.dark-container{
    background-color: var(--primary-color);
    color: white;
}

.dark-section {
    background-image: url('/src/assets/orange_section_bg.svg#svgView(preserveAspectRatio(none))');
    background-size: 3000px 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    padding: 120px 0;
}

.sucursal{
    font-family: "Playwrite DK Loopet", cursive;
    font-size: 150%;
    font-weight: bold;
    margin: 0;
}

.font-lobster {
    font-family: 'Lobster', 'cursive';
}

.btn-dark{
    --bs-btn-font-weight: bolder;
    --bs-btn-border-color: var(--primary-color);
    --bs-btn-hover-color: rgb(61, 59, 59);
    --bs-btn-hover-bg: #e78d3e;
    --bs-btn-hover-border-color: white;
    --bs-btn-active-color: var(--primary-color);
    --bs-btn-color: white;
    --bs-btn-bg: var(--primary-color);
}
.btn-light{
    --bs-btn-font-weight: bolder;
    --bs-btn-border-color: var(--primary-color);
    --bs-btn-hover-color: rgb(61, 59, 59);
    --bs-btn-hover-bg: #f0b17a;
    --bs-btn-hover-border-color: white;
    --bs-btn-active-color: var(--primary-color);
    --bs-btn-color: black;
    --bs-btn-bg: none;
}

.btn a{
    text-decoration: none;
}

.btn-light a {
    color: var(--primary-color);
}

/**************************** Sections ********************/
/* Nav Bar Section*/
.nav-item{
    color: white;
    padding: 0 2%;
    position: relative;
    text-align: right;
}

.nav-link {
    color: white;
}

.logo {
    width: 100px;
    height: auto;
    padding-right: 20px;
}

/* Hero */
#hero_section {
    min-height: 70vh;
}

/* Products Section */
.product_img{
    border-radius: 20%;
    padding: 7% 0% 0%;
    width: 80%;
}

/* Grow Shadow */
.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    color: white;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* Flavors Section  */
.flavor_img{
    border-radius: 100%;
    padding: 3%;
    width: 30%;
}

/* Whyus Section */
.hvr-black{
    color:black;
}

.hvr-black:hover{
    color: var(--primary-color);
}

/* Nosotros Page */
.info{
    font-size: 125%;
    line-height: 1.7;
}

.info a {
    color: black;
    text-decoration: underline;
}

.info a:hover {
    color: var(--primary-color)
}

/* Contact */
.light-link{
    color: var(--bg-color);
    height: auto;
    width: 3rem;
    text-decoration: none;
}
.light-link:hover{
    color: white;
    text-decoration: underline;
}
/* Mobile Phone Responsiveness */
@media (max-width: 900px) {
    /* p {
      font-size: 14px;
    } */

    #navbar_div{
        padding: 0.3% !important;
    }
    #hero_section{
        text-align: center;
    }
    .title {
        font-size: 40px;
        line-height: 1.2;
      }
    .sucursal {
        font-size: 16px;
    }
    .flavor_img{
        width: 70%;
    }
    .local_front_img{
        height: auto;
        width: 60%;
    }
    #delivery-img{
        display: none;
    }
}